<div class="about" id="about">
    <img src="/assets/img/sale8.png" alt="">
    <div>
        <h2>Trusted Organic Food Store Conscious</h2>
        <p>Organic vegetable gardening involves cultivating plants in a way that promotes 
            soil health and biodiversity. By avoiding synthetic chemicals, 
            organic gardeners use natural methods such as crop rotation, 
            composting, and companion planting to improve soil fertility, 
            suppress pests, and attract beneficial insects. Additionally,
             organic gardeners often use hand weeding and physical barriers to control weeds and pests.</p>
        <br>
        <marquee class="marquee">
        Grown without pesticides or synthetic fertilizers, 
        organic fruits and vegetables support a healthier planet.
        </marquee>
         <button type="button" class="btn">Buy Now</button>

    </div>
</div>