<div class="featured"> 
    <section id="hero" class="featured-box">
        <div class="featured-text">
            <div class="featured-text-btn">

                <button>100% Clean</button>
            </div>
        <div class="featured-name">
            <h1>Organic Veggies & Foods You Cook <br>
                <span class="typedText"></span></h1>
        </div>
        <div class="featured-text-info">
            <p>
                Organic farming is a method of crop and livestock production 
                that involves cultivating and harvesting in ways that maintain
                and replenish soil health and biodiversity, and promote ecological balance.
                By avoiding the use of synthetic fertilizers, pesticides, 
                genetically modified organisms, and antibiotics, 
                organic farming practices help to protect the environment and produce healthier food.
            </p>
        </div>
        
        
        <div class="btn-more">

            <button class="btn">More</button>
        </div>
        
         
     


        </div>
        <div class="featured-image">
            <img src="/assets/img/banner7.png" alt="">
        </div>
        
     
    </section>
       
</div>