<footer class="section-p1">
    
        <div class="col">
            <img class="logo2" src="/assets/img/logo2.png" alt="" srcset="">
            <h4>Contact</h4>
            <p> <strong>Address:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <p> <strong>Phone:</strong> +12 34567890 </p>
            <p> <strong>Hours   :</strong> 6:00 - 16:00 </p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <a href="http://"><i class="uil-facebook"></i></a>
                    <a href="http://"><i class="uil-twitter"></i></a>
                    <a href="http://"><i class="uil-instagram"></i></a>
                    <a href="http://"><i class="uil-youtube"></i></a>

                    

                </div>
            </div>

        </div>
        <div class="col">
            <h4>About</h4>
            <a href="http://">About us</a>
            <a href="http://">Delivery Information</a>
            <a href="http://">Privacy Policy</a>
            <a href="http://">Terms & Conditions</a>
            <a href="http://">Contact us</a>

        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="http://">Sign in</a>
            <a href="http://">View Cart</a>
            <a href="http://">My Wishlist</a>
            <a href="http://">Track My Order</a>
            <a href="http://">Help</a>

        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="/assets/img/app.jpg" alt="" srcset="">
                <img src="/assets/img/play.jpg" alt="" srcset="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="/assets/img/payment.png" alt="" srcset="">

        </div>
        <div class="copyright">
            <p>2024, design and develope by Kim</p>
        </div>
    



      <!-- BACK TO TOP -->
     <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="uil-arrow-up"></i></button>


 </footer>