<footer>
    <div class="featured-text">
        <div class="featured-text-card">
            <span>100% Organic</span>
        </div>
        <div class="featured-name">
            <p>Organic Veggies & Foods You Cook
             <span class="typedText"></span></p>
        </div>
        <div class="featured-text-info">
            <p>
                Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed consectetur tellus eget odio aliquet, vel vestibulum tellus sollicitudin. Morbi maximus metus eu eros tincidunt
            </p>
        </div>
        <div class="featured-text-btn">
           
               <button class="btn green-btn"><a href="#about" style="text-decoration: none;">More</a></button>
           
            
            <!-- <button class="btn" type="submit" onclick="window.open('assets/pdf/CV_KIMNGUYEN.pdf')">Download CV <i class="uil uil-file-alt"></i></button> -->
        </div>
       
      </div>
 </footer>